# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# VS Code
.vscode/

# Environment variables
.env

# Firebase Admin SDK
smartirrigationsystem-*.json

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db